

<!DOCTYPE html>	
<html lang="zh-CN">
<head>
<title>用户指南</title>

	

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<meta name="description" content=" 云打印平台">
<meta name="keywords" content="云打印">
<meta name="viewport" content="width=1200"/>
<!-- 运营时去掉 -->
<!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
 <META HTTP-EQUIV="Expires" CONTENT="0"> -->
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link href="../../static/stamp_static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/stamp_static/js/poshytip-1.2/tip-yellow/tip-yellow.min.css"
	 rel="stylesheet">
<link href="../../static/stamp_static/js/poshytip-1.2/tip-green/tip-green.min.css"
	 rel="stylesheet">

<script type="text/javascript"
	src="../../static/stamp_static/js/jquery/jquery-1.8.3.min.js"  ></script>

<script src="../../static/stamp_static/js/poshytip-1.2/jquery.poshytip.min.js"  ></script>
<script src="../../static/stamp_static/js/JSON-min.js"  ></script>
<script src="../../static/stamp_static/js/jquery.base64-min.js"  ></script>
<script src="../../static/stamp_static/js/base64-min.js"  ></script>
<script src="../../static/stamp_static/js/jquery.cookie-min.js"  ></script>

<link href="../../static/stamp_static/css/common-min.css-1482790280756.css" rel='stylesheet' type='text/css'>
<script src="../../static/stamp_static/js/common-min.js-1482790280756"  ></script>
<script type="text/javascript">
 var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F932fa76b807e99f4bdae87017d39afc6' type='text/javascript'%3E%3C/script%3E"));
</script>

<link href="../../static/stamp_static/css/public/userGuide-min.css-1482790280756.css" rel='stylesheet' type='text/css'>
<script type="text/javascript">
$(function(){
	$(".userGuide a").css("color","#00a1ea");
});
function downGuide(){
	var newurl = "../public/downUserGuide.action";
   	location.href=newurl;
}
</script>
</head>
<body>
	
	


<link href="../../static/stamp_static/css/menu-min.css-1482773700034.css" rel='stylesheet' type='text/css'>

<div class="vy_header" id="head">
 	<div class="container">
         <div class="vy_logo">
			<a href="/index"  >
			<img src="../../static/stamp_static/images1/logo.png"
				width="50%" height="50%" alt="logo"/></a>				
		 </div>
	     <div class="vy_menu clearfix">
			<ul>
				<li class="homePage" onclick="location='/index'/*tpa=http://www.vyin.com/public/toIndex.action*/">
					<a href="javascript:;">首页</a></li>
				 
				 
                <li class="userGuide" onclick="location='/user'/*tpa=http://www.vyin.com/public/toUserGuide.action*/">
                <a href="javascript:;">用户指南</a></li>
                <li class="throughWeChat" onclick="location='/vx'/*tpa=http://www.vyin.com/public/toThroughWeChat.action*/">
                <a href="javascript:;">穿越到微信</a></li>
			</ul>
		</div>
		 
	</div>
</div>
 	
<script src="../../static/stamp_static/js/menu-min.js-1482773700034"  ></script>

<div class="vy_service" id="vy_service">
	<div class="container">
		<div class="text">
			<p>V印云打印是国内首款在线云打印平台，一款颠覆时代的利器，
			为用户带来更多的便捷，我们一路走来，有艰辛，有彷徨，也有很多的迷茫。
			但是我们还是坚持我们的信念，也更多的是感谢用户们的支持，
			为此我们也是感谢用户们提出的意见，我们将会不断的努力发扬创新精神，让更多
			的用户更加深入的了解我们！</p>
		</div>
		<div class="userGuide_title">
			<p>V印云打印平台使用指南</p>
			<p class="userGuide_triangle">
			<img alt="三角形" src="../../static/stamp_static/images1/userGuide_triangle.png" style="width: 20px;"></p>
		</div>
		<div style="border-top: #b2b2b2 1px dashed; overflow: hidden; height: 1px"></div>	
		<div class="userGuide_content">
			<p class="list_title">一、如何注册</p>
			<p class="list_content">1、在浏览器中搜索云打印登录到平台首页；<br/>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_01.jpg"  >
			</div>
			
			<p class="list_title">二、如何打印</p>	
			<p class="list_content">1、登录平台，可选择“文档打印”、“照片打印”、“证件照打印”和“身份证照”打印；</p>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_02.jpg"  >
			</div>
			<p class="list_content">2、当选择“文档打印”时，每次最多可上传10个文件；当选择“照片打印”时，
			每次最多可上传5张照片；<br/>
			3、可设置打印参数并提交。</p>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_03.jpg"  >
			</div>	

			<p class="list_title">三、如何取件</p>
			<p class="list_content">将打印任务提交成功之后，到云打印终端机进行取件：<br/>
			A、在云打印终端机上选择“云打印”</p>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_04.jpg" style="width: 500px;">
			</div>
			<p class="list_content">B、使用“用户登录打印”或“微信扫码打印”</p>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_05.jpg" style="width: 500px;">
			</div>
			<p class="list_content">C、使用微信扫码打印，请微信登录后进入“用户管理”—>“扫码打印”</p>
			

			<p class="list_title">六、如何处理打印异常</p>
			<p class="list_content">打印过程中出现异常情况，比如卡纸、断电、断网等导致正在打印的任务无法完成，称之为“异 常打印”；
				如果出现这种情况，按如下步骤操作（）：<br/>
				1、点击“我的打印”—〉“异常申请”中将填写异常的问题信息内容。</p>
			<div>
				<img alt="用户指南图片" src="../../static/stamp_static/images1/userGuide_10.jpg"  >
			</div>
			
			<p class="list_title">七、如何找回密码</p>
			<p class="list_content">在使用过程中忘记密码，可通过以下两种方式找回：<br/>
				1、自助找回：密码遗忘可凭借当时所填写的密保自助找回密码；<br/>
				2、人工找回：如果遗忘密保，无法自助找回密码，可拨打客服电话（ 535027650）进行找回，
				客服将会核实相关基本信息，确认无误后，将重置新密码。</p>

			
			<p class="list_title">八、遇到问题怎么办</p>
			<p class="list_content">使用过程中，遇到任何问题，可采取以下方式获得支持：<br/> 
    			A、在线查看，在网页上选择“用户指南”，查看相关帮助；<br/>
				B、联系在线客服：QQ:  535027650   官方微信: 搜索“  云打印”，或扫描二维码关注； <br/>
				C、拨打客服电话： 535027650<br/>
				D、非工作时间若有疑问，请发邮件至客服邮箱，上班时间统一回复： 535027650@qq.com。</p>
				
										
		</div>	
	</div>
</div>


<link href="../../static/stamp_static/css/footer-min.css-1554366916014.css" rel="stylesheet"/>
<div class="vy_footer" id="footer">
	<div class="container">
		<div class="">
			<dl>
				<dt>快速入口</dt>
				<dd><a href="/text"  >
					文档打印</a></dd>
				<dd><a href="/pphoto"  >
					照片打印</a></dd>
				<dd><a href="/zphoto"  >
					证件照打印</a></dd>
				<dd><a href="/sphoto"  >
					身份证照打印</a></dd>
			</dl>
		</div>
		<span class="interval_line"></span>	
		 
		<span class="interval_line"></span>		
		 
		<span class="interval_line"></span>			
		<div>
			<dl>
				<dt>官方微信</dt>
				<dd><a class="weChat_subscription" href="javascript:;">微信订阅号<span class="subscription_tips"><i></i><img style="width:138px;height:138px;"
                                                                                                                        src="../../static/stamp_static/images1/weChat_pub.jpg" alt="微信订阅号"></span></a></dd>
				<dd><a class="weChat_public" href="javascript:;">微信公众号<span class="public_tips"><i></i><img style="width:138px;height:138px;"
                                                                                                            src="../../static/stamp_static/images1/weChat_pub.jpg" alt="微信公众号"></span></a></dd>
			</dl>
		</div>
		<span class="interval_line"></span>			
		<div class="last_div">
			<p class="phone"> 535027650</p>
			<p>周一至周六 9:00-23:00</p>
			<div onclick="javascript:location='/service'/*tpa=http://www.vyin.com/public/toContactService.action*/">在线客服
			</div>
		</div>					
	</div>
</div>
<!--/start-copyright-section-->
	<div class="vy_copyright" id="copyright">
		 
	</div>
<!--//end-copyright-section-->
</body>
</html>