

<!DOCTYPE html>	
<html lang="zh-CN">
<head>
<title>联系客服</title>

	

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<meta name="description" content=" 云打印平台">
<meta name="keywords" content="云打印">
<meta name="viewport" content="width=1200"/>
<!-- 运营时去掉 -->
<!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
 <META HTTP-EQUIV="Expires" CONTENT="0"> -->
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="toNoLogin.action.htm"   
	mce_href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link href="../../static/stamp_static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/stamp_static/js/poshytip-1.2/tip-yellow/tip-yellow.min.css"
	 rel="stylesheet">
<link href="../../static/stamp_static/js/poshytip-1.2/tip-green/tip-green.min.css"
	 rel="stylesheet">

<script type="text/javascript"
	src="../../static/stamp_static/js/jquery/jquery-1.8.3.min.js"  ></script>

<script src="../../static/stamp_static/js/poshytip-1.2/jquery.poshytip.min.js"  ></script>
<script src="../../static/stamp_static/js/JSON-min.js"  ></script>
<script src="../../static/stamp_static/js/jquery.base64-min.js"  ></script>
<script src="../../static/stamp_static/js/base64-min.js"  ></script>
<script src="../../static/stamp_static/js/jquery.cookie-min.js"  ></script>

<link href="../../static/stamp_static/css/common-min.css-1482802885408.css" rel='stylesheet' type='text/css'>
<script src="../../static/stamp_static/js/common-min.js-1482802885408"  ></script>
<script type="text/javascript">
 var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F932fa76b807e99f4bdae87017d39afc6' type='text/javascript'%3E%3C/script%3E"));
</script>

<link href="../../static/stamp_static/css/public/contactService-min.css-1482802885408.css" rel="stylesheet"/>
</head>
<body>
	
	


<link href="../../static/stamp_static/css/menu-min.css-1482773700034.css" rel='stylesheet' type='text/css'>

<div class="vy_header" id="head">
 	<div class="container">
         <div class="vy_logo">
			<a href="/index"  >
			<img src="../../static/stamp_static/images1/logo.png"
				width="50%" height="50%" alt="logo"/></a>				
		 </div>
	     <div class="vy_menu clearfix">
			<ul>
				<li class="homePage" onclick="location='/index'/*tpa=http://www.vyin.com/public/toIndex.action*/">
					<a href="javascript:;">首页</a></li>			
				 
				 
                <li class="userGuide" onclick="location='/user'/*tpa=http://www.vyin.com/public/toUserGuide.action*/">
                <a href="javascript:;">用户指南</a></li>
                <li class="throughWeChat" onclick="location='/vx'/*tpa=http://www.vyin.com/public/toThroughWeChat.action*/">
                <a href="javascript:;">穿越到微信</a></li>
			</ul>
		</div>
		 
	</div>
</div>
 	
<script src="../../static/stamp_static/js/menu-min.js-1482773700034"  ></script>

<div class="vy_service" id="vy_service">
	<div class="container">
		
		<div class="content">
			<div class="service_text">
				<span><img src="../../static/stamp_static/images1/contact_text.png" alt="联系客服文字描述"/></span>
			</div>
			<div class="service_imgs">
				<span>
					<img src="../../static/stamp_static/images1/contact_person.png" width="200px" alt="联系客服人员头像"/>
				</span>
			</div>
		</div>
	</div>
</div>

<div id="about" class="vy_about">
	<div class="container clearfix">
		<div class="wrap">
		<div>
			<p class="about_title">在线客服</p>
			<p>在线解答您的咨询，高效、便捷</p>
			<p>客服QQ: 535027650</p>
		</div>
		<div>
			<p class="about_title">客服微信</p>
			<p>微信搜索公众号 </p>
			<p> </p>
		</div>
		<div>
			<p class="about_title">客服电话</p>
			<p>电话解答您的问题</p>
			<p>客服电话： 535027650</p>
		</div>
		<div>
			<p class="about_title">客服邮箱</p>
			<p>把您需要解决的问题发到</p>
			<p>客服邮箱 535027650@qq.com</p>
		</div>
		</div>
		<p class="time">周一至周六：09:00--23:00（非工作时间若有疑问，请在线留言或发邮件至客服邮箱，上班时间统一回复)</p>
	</div>
</div>



<link href="../../static/stamp_static/css/footer-min.css-1554366916014.css" rel="stylesheet"/>
<div class="vy_footer" id="footer">
	<div class="container">
		<div class="">
			<dl>
				<dt>快速入口</dt>
				<dd><a href="/text"  >
					文档打印</a></dd>
				<dd><a href="/pphoto"  >
					照片打印</a></dd>
				<dd><a href="/zphoto"  >
					证件照打印</a></dd>
				<dd><a href="/sphoto"  >
					身份证照打印</a></dd>
			</dl>
		</div>
		<span class="interval_line"></span>	
		 
		<span class="interval_line"></span>		
		 
		<span class="interval_line"></span>			
		<div>
			<dl>
				<dt>官方微信</dt>
				<dd><a class="weChat_subscription" href="javascript:;">微信订阅号<span class="subscription_tips"><i></i><img style="width:138px;height:138px;"
                                                                                                                        src="../../static/stamp_static/images1/weChat_pub.jpg" alt="微信订阅号"></span></a></dd>
				<dd><a class="weChat_public" href="javascript:;">微信公众号<span class="public_tips"><i></i><img style="width:138px;height:138px;"
                                                                                                            src="../../static/stamp_static/images1/weChat_pub.jpg" alt="微信公众号"></span></a></dd>
			</dl>
		</div>
		<span class="interval_line"></span>			
		<div class="last_div">
			<p class="phone"> 535027650</p>
			<p>周一至周六 9:00-23:00</p>
			<div onclick="javascript:location='/service'/*tpa=http://www.vyin.com/public/toContactService.action*/">在线客服
			</div>
		</div>					
	</div>
</div>
<!--/start-copyright-section-->
	<div class="vy_copyright" id="copyright">
		 
	</div>
<!--//end-copyright-section-->
<!-- <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAyNDY1NV8zMDEzNDNfNDAwODIzNDIzOF8"></script> -->
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="../../wpa.b.qq.com/cgi/wpa.php-key=XzkzODAwNDA3OV80NTI1NjBfNDAwOTk2ODg2Nl8"  ></script>
<!-- WPA Button End -->
</body>
</html>