@charset "utf-8";
/* CSS Document */

.icon_printer{ background-image: url("../images/icon/icon_printer.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_printer.png*/);}
.icon_printer:hover{background-image:url("../images/icon/icon_printer2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_printer2.png*/)}
.icon_files{ background-image: url("../images/icon/icon_files.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_files.png*/);}
.icon_files:hover{background-image:url("../images/icon/icon_files2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_files2.png*/)}
.icon_log{ background-image: url("../images/icon/icon_log.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_log.png*/);}
.icon_log:hover{background-image:url("../images/icon/icon_log2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_log2.png*/)}
.icon_wallet{ background-image: url("../images/icon/icon_wallet.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_wallet.png*/);}
.icon_wallet:hover{background-image:url("../images/icon/icon_wallet2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_wallet2.png*/)}
.icon_nearby{ background-image: url("../images/icon/icon_nearby.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_nearby.png*/);}
.icon_nearby:hover{background-image:url("../images/icon/icon_nearby2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_nearby2.png*/)}
.icon_info{ background-image: url("../images/icon/icon_info.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_info.png*/);}
.icon_info:hover{background-image:url("../images/icon/icon_info2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_info2.png*/)}
.icon_api{ background-image: url("../images/icon/icon_api.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_api.png*/);}
.icon_api:hover{background-image:url("../images/icon/icon_api2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_api2.png*/)}
.icon_help{ background-image: url("../images/icon/icon_help.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_help.png*/);}
.icon_help:hover{background-image:url("../images/icon/icon_help2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_help2.png*/)}
.icon_task{ background-image: url("../images/icon/icon_task.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_task.png*/);}
.icon_task:hover{background-image:url("../images/icon/icon_task2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_task2.png*/)}
.icon_feedback{ background-image: url("../images/icon/icon_feedback.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_feedback.png*/);}
.icon_feedback:hover{background-image:url("../images/icon/icon_feedback2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_feedback2.png*/)}

.icon_descript{ background-image: url("../images/icon/icon_descript.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_descript.png*/);}
.icon_descript:hover{background-image:url("../images/icon/icon_descript2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_descript2.png*/)}
.icon_add{ background-image: url("../images/icon/icon_add.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_add.png*/);}
.icon_add:hover{background-image:url("../images/icon/icon_add2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_add2.png*/)}
.icon_fee{ background-image: url("../images/icon/icon_fee.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_fee.png*/);}
.icon_fee:hover{background-image:url("../images/icon/icon_fee2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_fee2.png*/)}
.icon_scene{ background-image: url("../images/icon/icon_scene.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_scene.png*/);}
.icon_scene:hover{background-image:url("../images/icon/icon_scene2.png" /*tpa=http://www.eyprint.com/assets/images/icon/icon_scene2.png*/)}



.main{ padding: 20px;font-size:14px}
.main h3{ border-bottom:1px solid #ccc; margin: 0; height: 40px; padding:0 20px;margin-bottom: 20px}
.main h4{background-color:#f3f3f3;padding:6px 15px;border-top:2px solid #31b714}

.main .column{display:flex;}
.main nav{width:200px;margin-left:20px;margin-right: 20px;background-color:#fcfcfc; padding:10px;border-top:2px solid #31b714}
.main nav i{border-bottom:1px solid #fefefe;border-top:1px solid #eee; height: 0px;display:block;margin:20px auto}
.main nav a{display:block; height: 35px; margin:12px auto;line-height: 35px;color:#000;padding: 0 5px; padding-left:50px;background-position: 12px center;background-size:24px; background-repeat: no-repeat}
.main nav a:hover{background-color:#3abb14; color: #FFF;}
.main .column >div{margin: 0 auto;width:900px;}
.bbs{}
.bbs ul{margin:0;padding:0 10px}
.bbs li{ height:30px; line-height: 30px;border-bottom:1px dotted #ccc; list-style: none;padding:0 15px}
.bbs li a{ float:left;width: 70%}
.bbs li:hover{background-color:#31b714}
.bbs li:hover *{color:#FFF}
.bbs li span{float:right;color:#ccc;}
.page{text-align:center;padding:10px 0}
.page a{margin:10px}

.Printers *{transition:all 0.3s ease-in-out}
.Printers{display:flex; flex-wrap: wrap;justify-content:space-between; font-size:12px; min-height:50px}
.Printer{flex:0 0 45%;background-color:#fcfcfc; border-radius: 5px; border-top:2px solid #31b714;padding: 20px;margin-bottom:20px} 
.printImg{text-align:center;}
.printImg img{background-color:#f1f1f1;border-radius: 100%;}
.Printer:hover{ background:#eee}
.online img{background-color:#31b714;}
.printInfo{ min-height:150px}
.printInfo h5{ font-size:16px; text-align:center;margin:10px; color:#31b714}
.printBtn{display:flex; justify-content:center}
.printBtn a{ border-radius:0px; background-color:#ccc;color:#000;flex:0 0 22%;padding:4px; text-align: center; margin:0 10px}
.printBtn a:hover{background-color:#31b714;color:#FFF}

.offline::after{ content:"离线"; border:1px solid #ddd; padding:4px 12px; color:#aaa}


.files{display:flex; flex-wrap: wrap; justify-content:start}
.file{ margin: 15px 10px; font-size: 12px;padding:10px;border-radius: 5px;background-color:#f8f8f8; border-top:3px solid #31b714; width:200px}
.file .icon{ text-align: center}
.file:hover{background-color:#f1f1f1}
.file h5{font-size:14px;margin: 5px auto; text-align: center; word-wrap : break-word}
.fileBtn{ text-align:center}
.fileBtn a{background-color:#31b714; color:#FFF;padding:4px 20px;margin: 0 5px}

.form{ margin: 10px auto; position: relative}
.form form{margin:0;padding:0}
.form input,.form select{border:1px solid #ccc; border-radius: 3px;padding: 4px;}
.form input[type='submit'],.form input[type='button']{ background-color:#31b714; color:#FFF;padding:4px 20px; cursor: pointer;border:none}
.rightBtn{position:absolute;right:20px;top:0}
.rightBtn a{padding:4px 20px; background-color:#31b714;color:#FFF}

.baiduMap{height:500px}

.msgboxBg{ background:rgba(0,0,0,0.2); width:100%; height:100%; position:fixed; top:0; left:0;}
.msgboxWindow{ position:absolute;  background:#FFF; left:20%;top:20%; transition:width 0.5s;transition:0.5s; transition-property:width,height}
.msgboxWindow .title{ height:36px; background:#31b714;padding:0 10px; cursor:move; line-height:36px; color:#FFF}
.msgboxWindow .title span{ float:right; background:#FFF; width:25px; height:25px; line-height:20px; text-align:center; border-radius:100%; cursor:pointer; margin:6px 0 0 0; color:#666; font-size:16px}
.msgboxWindow .title *{transition:all 0.5s}
.msgboxWindow .title span:hover{ transform:rotate(180deg);}
.WindowMain{padding:10px}